<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Pixelizer</title>
    <link rel="stylesheet" href="../../static/node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
    {% endblock %}
</head>
<body>
    <header>
        <nav class="orange darken-2">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">Pixelizer</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        
        <footer class="page-footer orange darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Flask App</h5>
                        <p class="grey-text text-lighten-4">Proof of concept web app</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    developed by <a class="grey-text text-lighten-4 right" href="#!">Natan Duarte</a>
                </div>
            </div>
        </footer>
        {% endblock %}
    </footer>

    <script src="../../static/node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>